PruebaWSStat/Web References/WebReference/SUtiFolioStat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/DBA_ConsultarStats" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/DBA_ConsultarStats" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DBA_ConsultarStatsInput" type="DBA_ConsultarStatsInput" />
  <xs:complexType name="DBA_ConsultarStatsInput">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DBA_ConsultarStatsOutputCollection" type="DBA_ConsultarStatsOutputCollection" />
  <xs:complexType name="DBA_ConsultarStatsOutputCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBA_ConsultarStatsOutput" type="DBA_ConsultarStatsOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DBA_ConsultarStatsOutput">
    <xs:sequence>
      <xs:element name="stat_folio" nillable="true" type="xs:string" />
      <xs:element name="tracking_number" nillable="true" type="xs:string" />
      <xs:element name="appl_cd" nillable="true" type="xs:string" />
      <xs:element name="descr_short" nillable="true" type="xs:string" />
      <xs:element name="update_dt" nillable="true" type="xs:string" />
      <xs:element name="update_user" nillable="true" type="xs:string" />
      <xs:element name="csr_status_cd" nillable="true" type="xs:string" />
      <xs:element name="descr" nillable="true" type="xs:string" />
      <xs:element name="assigned_user" nillable="true" type="xs:string" />
      <xs:element name="open_user" nillable="true" type="xs:string" />
      <xs:element name="proj_cd" nillable="true" type="xs:string" />
      <xs:element name="tipo_folio" nillable="true" type="xs:string" />
      <xs:element name="open_date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>